<a href="https://colab.research.google.com/github/ThuHiennn/AdvancedPythonProgramming/blob/main/Lab1/Chuong3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

CHƯƠNG 3

Bài 1 . Two of Python’s built-in functions are min and max. In the Python shell,
execute the following function calls:

In [ ]:
min(2,3,4)

2

In [ ]:
max(2,-3,4,7,-5)

7

In [ ]:
max(2,-3,min(4,7),-5)

4

Bài 2. For the following function calls, in what order are the subexpressions
evaluated?

In [ ]:
min(max(3,4), abs(-5))

4

In [ ]:
abs(min(4,6,max(2,8)))

4

In [ ]:
round(max(5.572, 3.258), abs(-2))

5.57

Bài 3. Following the function design recipe, define a function that has one
parameter, a number, and returns that number tripled

In [ ]:
def triple(num):
  return num * 3
triple(3)

9

Bài 4. Following the function design recipe, define a function that has two
parameters, both of which are numbers, and returns the absolute value
of the difference of the two. Hint: Call built-in function abs.

In [ ]:
def absolute_difference(num1,num2):
  return abs(num1-num2)
absolute_difference(3,7)

4

Bài 5. Following the function design recipe, define a function that has one
parameter, a distance in kilometers, and returns the distance in miles.
(There are 1.6 kilometers per mile.)

In [ ]:
def km_to_miles(km):
  return km/1.6
km_to_miles(5)

3.125

Bài 6. Following the function design recipe, define a function that has three
parameters, grades between 0 and 100 inclusive, and returns the average
of those grades.

In [ ]:
def average_grade(grade1, grade2, grade3):
  return (grade1 + grade2 + grade3)/3
average_grade(80,95,90)

88.33333333333333

Bài 7. Following the function design recipe, define a function that has four
parameters, all of them grades between 0 and 100 inclusive, and returns
the average of the best 3 of those grades. Hint: Call the function that you
defined in the previous exercise.

In [ ]:
def top_three_avg(grade1, grade2, grade3, grade4):
  total = grade1 + grade2 + grade3 + grade4
  top_three = total - min(grade1, grade2, grade3, grade4)
  return top_three / 3
  return max(average_grade(grade1, grade2, grade3),
  average_grade(grade1, grade2, grade4),
  average_grade(grade1, grade3, grade4),
  average_grade(grade2, grade3, grade4))

  return (grade1, grade2, grade3) / 3
top_three_avg(50,60,70,80)

70.0

Bài 8. Complete the examples in the docstring and then write the body of the
following function:

In [ ]:
def weeks_elapsed(day1, day2):
  return abs(int((day1-day2)/7))
weeks_elapsed(3,20)

2

In [ ]:
weeks_elapsed(20,3)

2

In [ ]:
weeks_elapsed(8,5)

0

In [ ]:
weeks_elapsed(40,61)

3

Bài 9. In the following table, fill in the Example column by writing square, num,
square(3), and 3 next to the appropriate description.

In [ ]:
def square(num):
  return num*num
square(3)

9

----------------------------------------

CHƯƠNG 6

Bài 1

1. Import module math, and use its functions to complete the following
exercises. (You can call dir(math) to get a listing of the items in math.)

a. Write an expression that produces the floor of -2.8.

In [5]:
import math
print(math.floor(-2.8))

-3

b. Write an expression that rounds the value of -4.3 and then produces
the absolute value of that result

In [6]:
print(abs(round(-4.3)))

4

c. Write an expression that produces the ceiling of the sine of 34.5

In [7]:
print(math.ceil(math.sin(34.5)))

1

Bài 2

2. In the following exercises, you will work with Python’s calendar module:

a. Visit the Python documentation website at http://docs.python.org/release/
3.6.0/py-modindex.html, and look at the documentation on module calendar
.

 b. Import module calendar.

In [10]:
import calendar

c. Using function help, read the description of function isleap.

In [11]:
help(calendar.isleap)

Help on function isleap in module calendar:

isleap(year)
    Return True for leap years, False for non-leap years.

d. Use isleap to determine the next leap year.

In [12]:
calendar.isleap(2021)

True

e. Use dir to get a list of what calendar contains

In [20]:
dir(calendar)

['Calendar',
 'EPOCH',
 'FRIDAY',
 'February',
 'HTMLCalendar',
 'IllegalMonthError',
 'IllegalWeekdayError',
 'January',
 'LocaleHTMLCalendar',
 'LocaleTextCalendar',
 'MONDAY',
 'SATURDAY',
 'SUNDAY',
 'THURSDAY',
 'TUESDAY',
 'TextCalendar',
 'WEDNESDAY',
 '_EPOCH_ORD',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_colwidth',
 '_locale',
 '_localized_day',
 '_localized_month',
 '_spacing',
 'c',
 'calendar',
 'datetime',
 'day_abbr',
 'day_name',
 'different_locale',
 'error',
 'firstweekday',
 'format',
 'formatstring',
 'isleap',
 'leapdays',
 'main',
 'mdays',
 'month',
 'month_abbr',
 'month_name',
 'monthcalendar',
 'monthlen',
 'monthrange',
 'nextmonth',
 'prcal',
 'prevmonth',
 'prmonth',
 'prweek',
 'repeat',
 'setfirstweekday',
 'sys',
 'timegm',
 'week',
 'weekday',
 'weekheader']

f. Find and use a function in module calendar to determine how many
leap years there will be between the years 2000 and 2050, inclusive

In [19]:
calendar.leapdays(2000, 2050)

13

g. Find and use a function in module calendar to determine which day of
the week July 29, 2016, will be.

In [21]:
calendar.weekday(2016, 7,29)

4

Bài 3

-------------------------------------------------------------------------------

CHƯƠNG 7